.meal-image{
    height: 200px;
    width: 200px;
    padding: 10px;
}

#food{
    display: flex;
    float: left;

}

#fudd{
    display: flex;
    float: left;
}
.image-large{
    height: 400px;
    width: 400px;
}
.detail{
    margin-left: 10px;
}
.mealDiv{
    justify-content: center;

}